body {
    margin: 10;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: rgb(255, 255, 255, 0);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(148, 101, 186);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;;
    margin-left: 5px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: #222222;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background 0.05s, color 0.05s, box-shadow 0.05s;
}

.nav-link1 {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background 0.05s, color 0.05s, box-shadow 0.05s;
}

.nav-active {
    background-color: rgb(148, 101, 186);
    color: #ffffff;
    cursor:pointer;
}

/* Hover effect for all links */
.nav-link:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 10px rgba(160, 32, 240, 0.4);
}

.nav-link1:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 10px rgba(160, 32, 240, 0.4);
    color: #222222
}


/* CONTACT BUTTON RIGHT */
.nav-button {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: rgb(148, 101, 186);
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 3px 10px rgba(160, 32, 240, 0.45);
    transition: transform 0.15s, box-shadow 0.15s;
    cursor:pointer;
}

.hero {
    display: flex;
    align-items: center;            
    justify-content: space-between; 
    padding: 120px 60px;
}

.hero-left {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro1,
.intro2 {
    margin: 0;
    line-height: 0.8;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description{
    font-style: italic;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 3px 10px rgba(160, 32, 240, 0.45);
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 350px;
    height: 260px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("purple.background.jpeg");
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.hero-right img {
    position: absolute;
    width: 260px;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.img1 {
    width: 400px;
    border-radius: 50px;
    margin-top: -20px;
    margin-right: 100px;
    top: -50px;
    right: 450px;
}

.img2 {
    width: 400px;
    border-radius: 50px;
    margin-top: -20px;
    margin-right: 100px;
    top: 25px;
    right: 170px;
}

.img3 {
    width: 400px;
    border-radius: 50px;
    margin-top: -20px;
    margin-right: 100px;
    top: 100px;
    left: 100px;
}

.img:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 0, 0.341);
    width: 270px;
    opacity: 0.9;
    cursor: pointer;
}

.hero-button{
    width: 100px;
    height: 35px;
    background-color: rgb(148, 101, 186);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    box-shadow: 0 0 5px rgb(169, 63, 190);

}

.hero-button:hover{
    background-color: #e0e0e0;
    box-shadow: 2px 2px 10px rgba(160, 32, 240, 0.4);
    color: #222222
}

.three-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    gap: 20px;
    margin-left: 70px;

}

.box {
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    padding-right: 20px;
}

.box p {
    margin: 0px;
    margin-left: 17px;
}

.box h1 {
    margin: 2px;
    margin-left: 15px;
}

